.base {
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.slideInUp {
  opacity: 1;
  transform: translateY(0);
}

.base:not(.slideInUp) {
  transform: translateY(30px);
}

.slideInRight {
  opacity: 1;
  transform: translateX(0);
}

.base:not(.slideInRight) {
  transform: translateX(0);
}
